
.contenedor-casilla{
    position: absolute;
    border: 1px solid gray;
}
.contenedor-casilla p{
    position: absolute;
    font-size: 0.9em;
    display: block;
}
.id{
    top: -30%;
    left: 10%;
}
.f{
    top: -30%;
    right: 10%;
}
.g{
    bottom: 0px;
    left: 0px;
}
.h{
    bottom: 0px;
    right: 0px;
}